
.container{
    padding-bottom: 40px;
}

.cart-list{
    z-index: 2;
}
.card{
    /* margin-top: 20px; */
    border-radius: 10px!important;
    margin-left:110px;
    box-shadow: 0px 0px 0px 3px #d9b56f;
    z-index: 1;
   
}

.card-header{
    text-align: center;
    
}

.card-text{
    color: #d9b56f;
}

.mx-auto{
    border-radius: 10px!important;
}
.btn-light{
    
    margin-left: 78px;
    position:sticky;
    /* background-color: #c0bcbc!important; */
    color: #111 !important;
    margin-top: 10px;
   
}
.btn-light:hover{
    background-color: #d9b56f!important;
}



.dn{
    margin-top: 15px;
    text-align:center;
    font-size: 14px;
    margin-left: 55px;
    padding: 0px 0px 10px 0px;

}

.fb{
    margin-right: 3px;
    text-decoration: none;
    
}
.fa-facebook-f{
    color:#1877f2;
}
.gg{
    margin-left: 3px;
    text-decoration: none;
}
.fa-google{
    color: rgb(253, 53, 53);
}
.fb:hover{
    color:#d9b56f;
    text-decoration: none;
}
.gg:hover{
    color:#d9b56f;
    text-decoration: none;
}
.form{
    margin-top: 50px;
}

.text{
    margin-top: 0px;
    margin-left: 210px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 34px;
    color: #d9b56f;
    letter-spacing: .01em;
    font-weight: 100;    
}





/* .home1:hover{
    color:#d9b56f;
    text-decoration: none;
} */


.the{
    display: inline;
    font-family: "Muli",serif;
    margin-left: 210px;
    margin-top: 10px;
    
}
.gt{
    color: dimgray;
}

.home{
    color: #d9b56f;
    text-decoration: none;
}

.home:hover{
    color:dimgray;
    text-decoration: none;
}

.text1{
    width:70%;
    text-align: justify;
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
    color: #d9b56f;
    margin-left:12%;
    margin-top: 60px;
    font-size: 16px;
    
    line-height: 2;
}

.dangnhaptk{
    text-decoration: none;
    margin-left: 240px;
    padding: 10px 0;
  
}
.dangnhaptk:hover{

    color:red;
    text-decoration: none;
}